<p-carousel
  [value]="offers"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="true"
  [showNavigators]="true"
  (onPage)="onSlideChange($event)"
  styleClass="custom-carousel"
>
  <ng-template let-offer let-index="index" pTemplate="item">
    <div
      class="carousel-item"
      [class.active]="index === activeIndex"
      [class.left]="index === (activeIndex - 1 + offers.length) % offers.length"
      [class.right]="index === (activeIndex + 1) % offers.length"
      [class.dimmed]="
        index !== activeIndex &&
        index !== (activeIndex - 1 + offers.length) % offers.length &&
        index !== (activeIndex + 1) % offers.length
      "
    >
      <img [src]="offer.imageUrl" [alt]="offer.title" />
      <h3>{{ offer.title }}</h3>
      <div class="card-footer">
        <span class="price">{{ offer.price }} €</span>
        <button pButton label="Zum Angebot" class="p-button-success"></button>
      </div>
    </div>
  </ng-template>
</p-carousel>
