<p-carousel
  [value]="offers"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="0"
  [showIndicators]="false"
  [showNavigators]="true"
  styleClass="custom-carousel"
>
  <ng-template let-offer let-active="activeIndex" let-index="index" pTemplate="item">
    <div
      class="carousel-item"
      [class.active]="index === active"
      [class.dimmed]="index !== active"
    >
      <img [src]="offer.imageUrl" [alt]="offer.title" />
      <h3>{{ offer.title }}</h3>
      <button pButton label="Zum Angebot" class="p-button-success"></button>
    </div>
  </ng-template>
</p-carousel>
