<div class="home-wrapper">
  <section class="intro-text">
    <h1>Willkommen bei Grillplatz-Extras!</h1>
    <p>
      Hier kannst du verschiedene Erweiterungen für deinen Grillplatz-Miettag buchen.<br />
      Ob Sportgeräte, Musikanlage oder anderes Zubehör – such dir einfach aus, was du brauchst,
      und stelle eine Anfrage.
      Alles unverbindlich und stressfrei!<br />
      Hier drunter findest du alle unsere Angebote. Bei Nachfragen kannst du uns jederzeit kontaktieren
      unter der Nummer 01511 9436491 oder per E-Mail an
      <a href="mailto:grillplatz.extras@gmail.com">
        grillplatz.extras&#64;gmail.com
      </a>
    </p>
  </section>
  <h2 class="section-title">Unsere Angebote für deinen Miettag</h2>

  <section class="carousel-section">
    <app-offer-gallery></app-offer-gallery>
  </section>
</div>
