.home-wrapper {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.intro-text {
  text-align: center;
  margin-bottom: 2rem;
}

.intro-text h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #e53935;
}

.intro-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
  max-width: 800px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #e53935;
  margin: 5rem 0 1rem;
  letter-spacing: -0.5px;
}


/* Zugriff auf die offer-gallery IN der eingebetteten Komponente */
:host ::ng-deep app-offer-gallery .p-carousel {
  max-width: 1600px;
  width: 100%;
  margin: center;
  transform: scale(0.8);
  transform-origin: center;
}


:host ::ng-deep app-offer-gallery .p-carousel-item {
  margin: 0 5rem !important;
  flex: auto auto 0 !important;
}

:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: none !important;
  border-radius: 50% !important;
  width: 3rem !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

:host ::ng-deep .p-carousel-prev {
  left: -1.5rem;
}

:host ::ng-deep .p-carousel-next {
  right: -1.5rem;
}

/* Icons größer und sichtbar */
:host ::ng-deep .p-carousel-prev .pi,
:host ::ng-deep .p-carousel-next .pi {
  font-size: 1.5rem;
  color: white;
}

